body{
    text-align: center;
}
.welcome{
    background: linear-gradient(180deg, yellow, green);
    width: 110%;
    height: 80%;
}
.line{
    background-color: black;
    width: 400px;
    height: 6px;
    margin: auto;
}
h2{
    font-size: 3rem;
}
.welcome h2{
    font-family: sans-serif;
    font-size: 3rem;
    color: white;
}
p{
    font-size: 2rem;
    font-weight: bold;
    font-family: cursive;
}
.menu{
    z-index: 10;
    list-style: none;
    position: absolute;
    top: 0px;
    right: 30px;
    cursor: pointer
}
.links{
    color: black;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    float: left
}
.links:hover{
    color: white;
    background-color: black;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 300px;
}
h1{
    font-size: 4rem;
    font-family: sans-serif;
    color: white;
}
